.game-screen-container {
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   margin-top: 2rem;
   padding: 1rem;
   flex-grow: 1;
   justify-items: center;
}

.board-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
}

.board {
   display: grid;
   grid-template-columns: repeat(10, 2.5rem);
   grid-template-rows: repeat(10, 2.5rem);
   border: 1px solid black;
}

.grid-square {
   border: 1px solid black;
}

.enemy-board > .grid-square:hover {
   background-color: black;
}
