.game-screen-container {
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   margin-top: 2rem;
   padding: 1rem;
   flex-grow: 1;
   justify-items: center;
   position: relative;
}

.board-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
}

.board {
   display: grid;
   grid-template-columns: repeat(10, 2.5rem);
   grid-template-rows: repeat(10, 2.5rem);
   position: relative;
   cursor: pointer;
   background-color: #6ba2e5;
}

.grid-square {
   border: 0.4px dashed rgb(108, 103, 103);
   display: flex;
   align-items: center;
   justify-content: center;
}

.enemy-board > .grid-square {
   transition: background-color 0.1s ease-in;
}
.enemy-board > .grid-square:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

.player-ship {
   background-color: #333333;
}

.icon {
   width: 0.2rem;
   height: 0.2rem;
}

.missed-attack {
   background-color: #000000;
}

.successful-attack {
   background-color: #c0392b;
}

.gameover-screen-container {
   top: 200px;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5rem;
   padding: 3rem;
}

.game-status-message {
   font-size: 2rem;
   color: #fff;
}

.play-again-btn {
   padding: 0.8rem 1.5rem;
   font-size: 1.2rem;
   color: black;
}
