body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.main-screen {
   flex-grow: 1;
   display: flex;
   justify-content: center;
}

.header {
   font-size: 3rem;
   text-align: center;
   padding: 2rem;
   border-bottom: 1px black dashed;
}

.footer {
   margin-top: auto;

   text-align: center;
   padding: 1rem;
   border-top: 1px black dashed;
}
