.start-screen-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

.direction-btn {
   padding: 1.2rem 1.7rem;
   font-size: 1rem;
   border-radius: 1rem;
   text-transform: capitalize;
   font-weight: bold;
   letter-spacing: 0.1rem;
   border: none;
   background-color: #d6e8ff;
}

.ship-placement-highlight {
   position: absolute;
   transform: translate(-50%, -50%);
   display: none;
   z-index: 1;
   width: 40px;
   height: 80px;
   border: 3px solid green;
   background-color: transparent;
   pointer-events: none;
}
